<html>
  <head>
    <!-- <link rel="stylesheet" href="styleslogiqn.css" /> -->
  </head>
  <body>
    <h1>Welcome to the best form on Internet!</h1>
    <form
      name="myForm"
      method="POST"
      action="http://localhost:4000/show"
      onsubmit="return validateForm()"
    >
      <div class="formdesign" id="name">
        User Name: <input type="text" name="fname" required /><b
          ><span class="formerror"> </span
        ></b>
      </div>

      <div class="formdesign" id="pass">
        Password: <input type="password" name="fpass" required /><b
          ><span class="formerror"></span
        ></b>
      </div>

      <button class="but">Submit</button>
    </form>
    <script>
      function clearErrors() {
        errors = document.getElementsByClassName("formerror");
        for (let item of errors) {
          item.innerHTML = "";
        }
      }
      function seterror(id, error) {
        //sets error inside tag of id
        element = document.getElementById(id);
        element.getElementsByClassName("formerror")[0].innerHTML = error;
        console.log(error);
      }

      function validateForm() {
        var returnval = true;
        clearErrors();

        //perform validation and if validation fails, set the value of returnval to false
        var name = document.forms["myForm"]["fname"].value;
        if (name.length < 5) {
          seterror("name", "*Length of name is too short");
          returnval = false;
        }

        if (name.length == 0) {
          seterror("name", "*Length of name cannot be zero!");
          returnval = false;
        }

        var password = document.forms["myForm"]["fpass"].value;
        if (password.length < 6) {
          // Quiz: create a logic to allow only those passwords which contain atleast one letter, one number and one special character and one uppercase letter
          seterror("pass", "*Password should be atleast 6 characters long!");
          returnval = false;
        }

        return returnval;
      }

      function isValid() {
        validateForm() === true ? console.log("valid") : console.log("error");
      }
    </script>
  </body>
</html>
